<?xml version="1.0"?>
<launch>
    <!-- Launches the skills simulation action servers -->
    <node name="SymbolicPoseInteractionSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="SymbolicPoseInteractionSkill"></node>

    <!-- <node name="DriveSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DriveSkill"></node> -->
    <!-- <node name="DriveEdgesSkillDifferential" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DriveEdgesSkill"></node> -->
    <node name="DriveEdgesSkillTricycle" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DriveEdgesSkill"></node>
    <node name="DriveEdgesSkillOmni" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DriveEdgesSkill"></node>
    <!-- <node name="LocateSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="LocateSkill"></node>
    <node name="PickSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PickSkill"></node>
    <node name="PlaceSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PlaceSkill"></node> -->
    <node name="WaitSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="WaitSkill"></node>
    <node name="ActuateArmSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="ActuateArmSkill"></node>
    <node name="MoveArmSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="MoveArmSkill"></node>
    <node name="GenericSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="GenericSkill"></node>
    <node name="ElevatorInteractionSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="ElevatorInteractionSkill"></node>
    <node name="ChangeMapSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="ChangeMapSkill"></node>
    <!-- <node name="DockSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DockSkill"></node> -->
    <node name="PoseInteractionSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PoseInteractionSkill"></node>

    <node name="LocateSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PoseInteractionSkill"></node>
    <node name="PickSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PoseInteractionSkill"></node>
    <node name="PlaceSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="PoseInteractionSkill"></node>

    <node name="DockSkillElevator" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DockSkill"></node>
    <node name="DockSkillElevatorDifferential" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DockSkill"></node>
    <node name="DockSkillElevatorTricycle" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DockSkill"></node>
    <node name="DockSkillElevatorOmni" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="DockSkill"></node>
    <node name="ChargingValidationSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="ChargingValidationSkill"></node>
    <node name="TeastarReconfigurationSkill" pkg="skill_simulation_server" type="skill_action_server.py" output="screen" args="TeastarReconfigurationSkill"></node>

</launch>
