<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="robot_id" default="Edgar"/>
    <arg name="skills_file" default="skills.yaml" />
    <arg name="skills_path" default="$(find task_manager_common)/skills"/>
    <arg name="assign_mission_service_name" default="/task_manager/AssignMission" />
    <arg name="provide_task_status_service_name" default="/task_manager/ProvideTaskStatus" />
    <arg name="wait_for_server_timeout" default="10" />
    <arg name="wait_for_action_client_timeout" default="300" />
    <arg name="mission_queue_size" default="None" />

    <!-- Skills Loader -->
    <rosparam command="load" file="$(arg skills_path)/$(arg skills_file)" ns="task_manager"/>


  <!-- Task Manager -->
  <node name="task_manager" pkg="task_manager_server" type="task_manager.py" output="screen">
      <param name='robot_id' value='$(arg robot_id)' />
      <param name='assign_mission_service_name' value='$(arg assign_mission_service_name)' />
      <param name='provide_task_status_service_name' value='$(arg provide_task_status_service_name)' />
      <param name='wait_for_server_timeout' value='$(arg wait_for_server_timeout)' />
      <param name='wait_for_action_client_timeout' value='$(arg wait_for_action_client_timeout)' />
      <param name='mission_queue_size' value='$(arg mission_queue_size)' />
  </node>
</launch>
