<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <!-- <arg name="robot_id" default="igor"/> -->

    <!-- Path Assigner -->
    <node name="path_assigner" pkg="path_assigner" type="path_assigner.py" output="screen">
        <!-- <param name='robotId' value='$(arg robot_id)' /> -->
    </node>

</launch>
