<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="robot_id" default="igor" />
    <arg name="mission_file" default="triho_demo_example.yaml" />
    <arg name="mission_path" default="$(find mission_assigner)/missions"/>

    <group ns="$(arg robot_id)">

        <rosparam command="load" file="$(arg mission_path)/$(arg mission_file)" ns="mission_assigner"/>

    </group>

</launch>
