<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="robot_id" default="igor"/>
    <arg name="mission_id" default="testMissionId"/>
    <arg name="skills_file" default="skills.yaml" />
    <arg name="skills_path" default="$(find task_manager_common)/skills"/>
    <arg name="mission_file" default="teastar_tests.yaml" />
    <arg name="mission_path" default="$(find mission_assigner)/missions"/>
    <arg name="assign_mission_service_name" default="task_manager/AssignMission" />

    <!-- Skills Loader -->
    <rosparam command="load" file="$(arg skills_path)/$(arg skills_file)" ns="mission_assigner"/>

    <!-- Mission Loader -->
    <rosparam command="load" file="$(arg mission_path)/$(arg mission_file)" ns="mission_assigner"/>

    <!-- Mission Assigner -->
    <node name="mission_assigner" pkg="mission_assigner" type="mission_assigner.py" output="screen">
        <param name='robotId' value='$(arg robot_id)' />
        <param name='missionId' value='$(arg mission_id)' />
        <param name='assign_mission_service_name' value='$(arg assign_mission_service_name)' />
    </node>

</launch>
